In [4]:
import pandas as pd
from datetime import datetime

In [37]:
fileName = "D:/Balbi/Clientes/IngressoRapido/Conciliacao/Dev/python/conciliacao/dados/ComprasAtivasLegado_v1.csv"
df = pd.read_csv(fileName, delimiter=',', dtype=object, encoding='UTF-8')

In [51]:
df_v1 = df.copy()

In [52]:
df_v1['data_compra'] = df_v1['data_compra'].map(lambda x: datetime.strptime(str(x), "%d/%m/%Y %H:%M:%S").strftime('%Y-%m-%d %H:%M:%S'), na_action='ignore')
df_v1['data_evento'] = df_v1['data_evento'].map(lambda x: datetime.strptime(str(x), "%d/%m/%Y %H:%M").strftime('%Y-%m-%d %H:%M'), na_action='ignore')
df_v1['data_venda_completa'] = df_v1['data_venda_completa'].astype(datetime)
df_v1['quantidade_ingressos'] = df_v1['quantidade_ingressos'].astype(int)
df_v1['valor_taxa_conveniencia_total'] = df_v1['valor_taxa_conveniencia_total'].map(lambda x: x.replace('.', '').replace(',', '.')).astype(float)
df_v1['valor_taxa_entrega_total'] = df_v1['valor_taxa_entrega_total'].map(lambda x: x.replace('.', '').replace(',', '.')).astype(float)
df_v1['valor_juros_total'] = df_v1['valor_juros_total'].map(lambda x: x.replace('.', '').replace(',', '.')).astype(float)
df_v1['valor_ingressos_ativos_total'] = df_v1['valor_ingressos_ativos_total'].map(lambda x: x.replace('.', '').replace(',', '.')).astype(float)
df_v1['valor_compra_original_total'] = df_v1['valor_compra_original_total'].map(lambda x: x.replace('.', '').replace(',', '.')).astype(float)
df_v1['numero_parcelas'] = df_v1['numero_parcelas'].astype(int)

In [53]:
df_v1.dtypes

is_bileto                             object
gateway                               object
numero_venda_ir                       object
venda_bilheteria_id                   object
codigo_gateway                        object
nsu_host                              object
nsu_sitef                             object
paypal_id                             object
numero_autorizacao_adquirente         object
data_compra                           object
quantidade_ingressos                   int32
bandeira                              object
tipo_cartao                           object
nome_forma_pagamento                  object
valor_taxa_conveniencia_total        float64
valor_taxa_entrega_total             float64
valor_juros_total                    float64
valor_ingressos_ativos_total         float64
valor_compra_original_total          float64
numero_parcelas                        int32
numero_cartao                         object
nome_portador_cartao                  object
status_compra                         object
nome_comprador                        object
email_comprador                       object
facebook_id                           object
cpf_comprador                         object
telefone_comprador                    object
id_usuario                            object
ip_comprador                          object
plataforma_utilizada                  object
id_produtor_evento                    object
nome_produtor_evento                  object
nome_evento                           object
id_evento                             object
data_evento                           object
nome_local                            object
tipo_evento                           object
nota_fiscal_estabelecimento_sitef     object
data_venda_completa                   object
nomes_precos_ingressos_unicos         object
dtype: object

In [55]:
df_v1['valor_taxa_conveniencia_total'].head(100)

0     200.0
1       9.0
2       4.0
3       8.0
4      15.0
5       6.0
6      12.0
7       8.0
8      13.5
9      24.0
10     40.0
11      9.0
12      7.0
13     10.0
14     15.0
15      5.0
16     12.0
17     10.0
18      7.0
19     32.0
20     27.0
21      7.0
22      4.0
23     16.0
24     13.5
25     18.0
26      9.0
27     72.0
28     30.0
29     36.0
      ...
70     18.0
71     40.0
72     40.0
73      8.0
74      8.0
75      4.0
76      3.0
77      4.0
78     22.0
79      9.0
80     18.0
81      7.0
82     12.0
83     28.0
84     45.0
85     31.5
86     21.0
87     24.0
88     20.0
89      8.0
90     10.0
91     15.0
92     40.0
93     14.0
94     20.0
95     18.0
96     10.5
97     56.0
98     14.0
99     12.0
Name: valor_taxa_conveniencia_total, Length: 100, dtype: float64