In [19]:
import pandas as pd
import numpy as np
import matplotlib as plt
%matplotlib inline

In [102]:
df = pd.read_csv('dados/IR-20170731-000000360.txt', header=None, delimiter=';', dtype='object', parse_dates=[2,8,25])

In [103]:
df.dtypes

0             object
1             object
2     datetime64[ns]
3             object
4             object
5             object
6             object
7             object
8     datetime64[ns]
9             object
10            object
11            object
12            object
13            object
14            object
15            object
16            object
17            object
18            object
19            object
20            object
21            object
22            object
23            object
24            object
25    datetime64[ns]
26            object
27            object
28            object
29            object
dtype: object

In [104]:
#Renomeando colunas
#df.columns = ['Id', '1', 'DataArquivo', '3', '4', 'ProdutoPag', 'TipoProduto', 'NumCartao','DataVenda','9', '10', '11','12','13','14', '15','16','17','18', '19','20','21', '22', '23', 
#              'NomeEspetaculo','DataSessao', '26', '27','GatewayPag','CodPedido']

df.columns = ['NSR', 'NSA', 'DataArquivo', 'Loja', 'Terminal', 'Bandeira', 'TipoVenda', 'NumeroCartao', 'DataVenda', 'Pedido', 
            'Cupom', 'NSU', 'CodigoAutorizacao', 'TID', 'LoteAdquirente', 'DocumentoCliente', 'NomeCliente', 'QtdeParcelas', 'ValorParcela', 
            'ValorVenda', 'ValorAdicional1', 'ValorAdicional2', 'TipoTransacao', 'idEvento', 'dsEvento', 'dtApresentacao', 'QtdIngresso', 'Troca', 
              'PaymentGateway', 'PSP']

In [105]:
#Convert para int
df['NSR'] = df['NSR'].astype(int)
df['QtdeParcelas'] = df['QtdeParcelas'].astype(int)
df['QtdIngresso'] = df['QtdIngresso'].astype(int)

In [106]:
#Convert para decimal
def ToDecimal(string):
    return float(string[:-2] + "." + string[-2:])


df['ValorAdicional1'].fillna(0)
df['ValorParcela'] = list(map(ToDecimal, df['ValorParcela']))
df['ValorVenda'] = list(map(ToDecimal, df['ValorVenda']))
df['ValorAdicional1'] = list(map(ToDecimal, df['ValorAdicional1']))
df['ValorAdicional2'] = list(map(ToDecimal, df['ValorAdicional2']))

TypeError: 'float' object is not subscriptable

In [92]:
df['ValorParcela']

#df['ValorParcela'][0][:-2] + "." + df['ValorParcela'][0][-2:]
#[df['ValorParcela'][0][:-2] + "." + df['ValorParcela'][0][-2:] for x in df['ValorParcela']]

TypeError: 'float' object is not subscriptable

In [29]:
#Agrupamento
df.groupby('Bandeira').count()[['NSR']]

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>NSR</th>
    </tr>
    <tr>
      <th>Bandeira</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>American Express</th>
      <td>172</td>
    </tr>
    <tr>
      <th>Diners</th>
      <td>2</td>
    </tr>
    <tr>
      <th>Diners Club</th>
      <td>8</td>
    </tr>
    <tr>
      <th>Débito</th>
      <td>806</td>
    </tr>
    <tr>
      <th>ELO DEBIT</th>
      <td>89</td>
    </tr>
    <tr>
      <th>Elo</th>
      <td>69</td>
    </tr>
    <tr>
      <th>Hipercard</th>
      <td>51</td>
    </tr>
    <tr>
      <th>Maestro</th>
      <td>138</td>
    </tr>
    <tr>
      <th>MasterCard</th>
      <td>718</td>
    </tr>
    <tr>
      <th>Mastercard</th>
      <td>1534</td>
    </tr>
    <tr>
      <th>PayPal</th>
      <td>12</td>
    </tr>
    <tr>
      <th>Vale+Cultura Ticket</th>
      <td>1</td>
    </tr>
    <tr>
      <th>Visa</th>
      <td>2114</td>
    </tr>
    <tr>
      <th>Visa Electron</th>
      <td>127</td>
    </tr>
  </tbody>
</table>
</div>

In [36]:
#Filtro 
print(df['PaymentGateway'].unique())

['SITEF' 'Adyen' 'MundiPagg' nan 'PayPal']

In [242]:
#Transformando valores null
#df[df['TipoProduto'].str.contains('CREDITO')]
df['TipoProduto'].fillna('Nao Informado', inplace=True) 
#df.groupby(by='TipoProduto').count()[['Id']]

In [17]:
#Rascunho
df['13']
#df['13'].fillna('Não Informado', inplace=True)

0                    NaN
1                    NaN
2                    NaN
3       4615014660339111
4       1515014503581009
5                    NaN
6       1515014347941971
7       4715013826773675
8       1515014424956645
9       1315014372257139
10      4415014405603658
11      1815013870753453
12      4615014311620430
13                   NaN
14      4615014391098986
15      4315014449256431
16                   NaN
17      1615014595927705
18                   NaN
19      4615014236548351
20      4815014581840617
21      1415014336047104
22      1815014475814351
23      1715014563218011
24      4415014586051404
25      4815014376333737
26      4815014312208324
27      1315014618741706
28                   NaN
29      1715014618268565
              ...
5811                 NaN
5812                 NaN
5813                 NaN
5814                 NaN
5815                 NaN
5816                 NaN
5817                 NaN
5818                 NaN
5819                 NaN
5820                 NaN
5821                 NaN
5822                 NaN
5823                 NaN
5824                 NaN
5825                 NaN
5826                 NaN
5827    1415014199940114
5828    1715014244289175
5829    1815014562800933
5830    1815014562800933
5831    4715014415260892
5832    4815014594058173
5833    1815014624301565
5834    4615014605142653
5835    1415014353705360
5836    1615014338553206
5837    1315014239622301
5838    4715014271655490
5839    4515014494563275
5840    1415014283220480
Name: 13, dtype: object

In [228]:
df[df['TipoProduto'].str.contains('CREDITO')].head(5)

<div>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Id</th>
      <th>1</th>
      <th>DataArquivo</th>
      <th>3</th>
      <th>4</th>
      <th>ProdutoPag</th>
      <th>TipoProduto</th>
      <th>NumCartao</th>
      <th>DataVenda</th>
      <th>9</th>
      <th>...</th>
      <th>20</th>
      <th>21</th>
      <th>22</th>
      <th>23</th>
      <th>NomeEspetaculo</th>
      <th>DataSessao</th>
      <th>26</th>
      <th>27</th>
      <th>GatewayPag</th>
      <th>CodPedido</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>68</th>
      <td>69</td>
      <td>401</td>
      <td>20170808</td>
      <td>0</td>
      <td>0</td>
      <td>American Express</td>
      <td>CREDITO</td>
      <td>371561*****6002</td>
      <td>20170730</td>
      <td>9821070325</td>
      <td>...</td>
      <td>NaN</td>
      <td>0</td>
      <td>V</td>
      <td>56851</td>
      <td>MASP - FÉRIAS | Julho aberto de segunda a segunda</td>
      <td>30/07/2017 17:30:00</td>
      <td>3</td>
      <td>0</td>
      <td>SITEF</td>
      <td>20170730/300184/815982</td>
    </tr>
    <tr>
      <th>69</th>
      <td>70</td>
      <td>401</td>
      <td>20170808</td>
      <td>0</td>
      <td>0</td>
      <td>American Express</td>
      <td>CREDITO</td>
      <td>374758XXXXXX2014</td>
      <td>20170730</td>
      <td>4321074884</td>
      <td>...</td>
      <td>NaN</td>
      <td>0</td>
      <td>V</td>
      <td>58666</td>
      <td>Cantando na Chuva</td>
      <td>17/09/2017 16:00:00</td>
      <td>4</td>
      <td>0</td>
      <td>MundiPagg</td>
      <td>dc4f8c3f-f815-4134-97cd-9ee6e7ef9281</td>
    </tr>
    <tr>
      <th>70</th>
      <td>71</td>
      <td>401</td>
      <td>20170808</td>
      <td>0</td>
      <td>0</td>
      <td>American Express</td>
      <td>CREDITO</td>
      <td>374762*****2926</td>
      <td>20170730</td>
      <td>5721072684</td>
      <td>...</td>
      <td>NaN</td>
      <td>0</td>
      <td>V</td>
      <td>58785</td>
      <td>O APRENDIZ DE FEITICEIRO</td>
      <td>30/07/2017 17:00:00</td>
      <td>4</td>
      <td>0</td>
      <td>SITEF</td>
      <td>20170730/300123/604044</td>
    </tr>
    <tr>
      <th>71</th>
      <td>72</td>
      <td>401</td>
      <td>20170808</td>
      <td>0</td>
      <td>0</td>
      <td>American Express</td>
      <td>CREDITO</td>
      <td>374762XXXXXX1916</td>
      <td>20170730</td>
      <td>2821070598</td>
      <td>...</td>
      <td>NaN</td>
      <td>0</td>
      <td>V</td>
      <td>59047</td>
      <td>RENATO E SEUS BLUE CAPS</td>
      <td>19/08/2017 21:00:00</td>
      <td>2</td>
      <td>0</td>
      <td>MundiPagg</td>
      <td>ce82dab6-da68-4be4-9cb6-7d671d929a25</td>
    </tr>
    <tr>
      <th>72</th>
      <td>73</td>
      <td>401</td>
      <td>20170808</td>
      <td>0</td>
      <td>0</td>
      <td>American Express</td>
      <td>CREDITO</td>
      <td>374768XXXXXX5988</td>
      <td>20170730</td>
      <td>4521075058</td>
      <td>...</td>
      <td>NaN</td>
      <td>0</td>
      <td>V</td>
      <td>58666</td>
      <td>Cantando na Chuva</td>
      <td>17/09/2017 16:00:00</td>
      <td>2</td>
      <td>0</td>
      <td>MundiPagg</td>
      <td>d63e4c98-6b8f-482d-be16-529d1a8d9083</td>
    </tr>
  </tbody>
</table>
<p>5 rows × 30 columns</p>
</div>

In [60]:
df.to_csv('dados/VendasIR_v3.csv')

In [21]:
df['Id'].astype(int)
df.groupby('13').count()['Id']

13
1315013839903483    1
1315013841126081    1
1315013857433686    1
1315013862699198    1
1315013911842989    1
1315014176808954    1
1315014188216576    1
1315014198408619    1
1315014224164756    1
1315014231524562    1
1315014239622301    2
1315014243682093    1
1315014245096573    1
1315014245614425    1
1315014255916231    1
1315014262852643    1
1315014265155903    1
1315014266907757    1
1315014267029841    1
1315014278498076    1
1315014279192405    1
1315014287136170    1
1315014298123134    1
1315014298153677    1
1315014305176968    1
1315014338256399    1
1315014339900227    1
1315014344750302    1
1315014346847221    1
1315014351739859    1
                   ..
4815014553836932    1
4815014555850550    1
4815014571623122    1
4815014572745056    1
4815014577737439    1
4815014578141367    1
4815014581840617    1
4815014588082957    1
4815014594058173    2
4815014600697063    1
4815014602361171    1
4815014609893408    1
4815014613688950    1
4815014617513196    1
4815014617835763    1
4815014630019932    1
4815014636013111    1
4815014644697699    1
4815014645961904    1
4815014647797850    1
4815014648080090    1
4815014651187345    1
4815014651429168    1
4815014656437174    1
4815014657082813    1
4815014660290080    1
4815014668062457    1
4815014685105305    1
4815014693129313    1
4815014697132735    1
Name: Id, dtype: int64